.topBookContainer {
  padding-left: 40px;
}

.topBookMainTitle {
  color: var(--black);

  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
}

.topBookMainTitle span {
  color: var(--violet);
}

.topBookSection {
  margin-bottom: 40px;
}
.topBookTitle {
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.bookItem {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100% / 5);
}
.bookList {
  display: flex;
  margin-bottom: 32px;

  list-style: none;
  gap: 24px;
}
.bookCover {
  height: 250px;
}
.bookName {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-top: 14px;
}
.bookAutor {
  color: var(--grey);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-top: 4px;
}

.btnSeeMore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  border: 2px solid var(--accent);
  padding: 14px 5px;
  margin-left: auto;
  display: block;
  text-decoration: none;
  max-width: 124px;

  color: var(--black);
  font-size: 14px;

  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btnSeeMore:hover,
.btnSeeMore:focus,
.btnSeeMore:active {
  background: var(--accent);
  color: var(--white);
}
