.containerForm {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

@media screen and (max-width: 768px){
  .containerForm{
    align-items: flex-start;

  }
  
}


