.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.4);
}

.mainPopUpcontainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 621px;
  min-height: 465px;
  border-radius: 18px;
  border: 2px solid #111;
  background: #fff;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.closeModal {
  position: absolute;
  top: 16px;
  right: 0;
  transform: translateX(-50%);
  z-index: 2;
}
.closeModal:hover,
.closeModal:focus,
.closeModal:active {
  /* background: #4f2ee8; */
  color: #4f2ee8;
}
.wrapperPopUp {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.bookCover {
  height: 281px;
  width: 192px;
  /* object-fit: cover;
  object-position: center; */
}

.secondPopUpcontainer {
  display: flex;
  justify-content: space-between;
}

.mainTitlePopUp {
  color: #111;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.autorPopUp {
  color: #b4afaf;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.textPopUp {
  color: #111;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.btnPopUp {
  margin-top: 40px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  display: inline-block;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;

  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  cursor: pointer;
}
.btnPopUp:hover,
.btnPopUp:focus,
.btnPopUp:active {
  background: #4f2ee8;
  color: #fff;
}
.linksWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.iconBook {
  max-width: 90px;
  max-height: 48px;
  object-fit: cover;
  object-position: center;
}
