.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--black-40);
}

.mainPopUpcontainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 621px;
  min-height: 465px;
  border-radius: 18px;
  border: 2px solid var(--black);
  background: var(--white-800);
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.closseModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 0;
  transform: translateX(-50%);
  z-index: 2;
  color: var(--black);
  transition: all 0.3s;
}
.closeModal {
  fill: currentColor;
}
.closseModalBtn:hover,
.closseModalBtn:focus,
.closseModalBtn:active {
  color: var(--violet);
}
.wrapperPopUp {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.bookCover {
  height: 281px;
  width: 192px;
}

.secondPopUpcontainer {
  display: flex;
  justify-content: space-between;
}

.mainTitlePopUp {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.autorPopUp {
  color: var(--grey);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.textPopUp {
  color: var(--black);

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.btnPopUp {
  margin-top: 40px;
  border-radius: 40px;
  border: 2px solid var(--violet);
  display: inline-block;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--white);

  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.btnPopUp:hover,
.btnPopUp:focus,
.btnPopUp:active {
  background: var(--violet);
  color: #fff;
}
.linksWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.iconBook {
  max-width: 90px;
  max-height: 48px;
  object-fit: cover;
  object-position: center;
}
.congratulations {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  color: var(--black-50);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

@media (max-width: 375px) {
  .mainPopUpcontainer {
    padding: 40px 24px;
    max-width: 335px;
  }
  .secondPopUpcontainer {
    flex-direction: column;
  }
  .closseModalBtn {
    top: 10px;
    right: -15px;

  }

  .bookCover {
    height: auto;
    width: 287px;
    margin-bottom: 14px;
    border-radius: 8px;
  }
  .mainTitlePopUp {
    font-size: 16px;
    line-height: 1.12;
    margin-bottom: 4px;
  }
  .autorPopUp {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 18px;
  }
  .textPopUp {
    margin-bottom: 14px;
  }

  .btnPopUp {
    padding: 14px 23px;
    font-size: 14px;
    line-height: 1.29;
  }
  .wrapperPopUp {
    margin-left: 0;
  }
}
