/* @media only screen and (min-width: 320px) {
  .headerContainer {
    display: inline-flex;
    width: 320px;
    max-width: 375px;
    height: 64px;
    padding: 18px 20px;
    justify-content: space-between;
    align-items: center;

    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;

    background: #fff;
  }
  .headerHomeNav {
    display: none;
  }
  .headerShopListNav {
    display: none;
  }

  .headerSwitch {
    display: inline-flex;
    gap: 14px;
  }
}

@media only screen and (min-width: 767px) {
  .headerContainer {
    width: 768px;
    height: 72px;
    padding: 13px 32px;
    justify-content: flex-start;
    align-items: center;
  }
  .headerBurger {
    display: none;
  }
  .headerHomeNav {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #111;

    font-size: 14px;

    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;

    padding: 8px 16px;
    border-radius: 36px;
    background: #eac645;

    margin-left: 40px;
  }
  .headerShopListNav {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    color: #111;

    font-size: 14px;

    font-weight: 500;
    line-height: 18px; 
    letter-spacing: -0.56px;

    margin-left: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1440px;
    height: 72px;
  }
} */
