.mainContainer {
  background-color: var(--white);
}
.bodyContainer {
  max-width: 1444px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  display: flex;
}
.sideBar {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .sideBar {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .bodyContainer {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
    gap: 100px;
  }
}
@media screen and (max-width: 375px) {
  .sideBar {
    flex-direction: column;
  }
  .bodyContainer {
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
    
  }
}
