.mainContainer {
  background-color: var(--white);
}
.bodyContainer {
  max-width: 1444px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  display: flex;
}
.sideBar {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
    .bodyContainer {
      
    }
  }
