.mainContainer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--white);
}
.bodyContainer {
  max-width: 1444px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  display: flex;
}
.sideBar {
  display: flex;
  flex-direction: column;
}
