.allCategoryContainer {
  display: block;
  height: 472px;
  width: 328px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 86px;
}
.outerWrapper {
  position: relative;
}
.loaderWrapper {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.allCategoryList {
  font-size: 18px;
  margin-bottom: 32px;

  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  list-style: none;
}

.homeLink {
  color: var(--black-60);
  font-size: 18px;
  margin-bottom: 32px;

  font-weight: 400;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.36px;

  display: block;

  text-decoration: none;

  transition: all 0.3s;
}
.homeLink.active {
  color: var(--accent);

  font-weight: 700;
  text-transform: uppercase;
}
