body.light {
  --accent: #4f2ee8;
  --black: #111;
  --black-40: rgba(17, 17, 17, 0.4);
  --black-50: rgba(17, 17, 17, 0.5);
  --black-60: rgba(17, 17, 17, 0.6);
  --grey: #b4afaf;
  --white: white;
  --white-800: #fff;
  --yellow: #eac645;
  --violet: #4f2ee8;
}
body.dark {
  --accent: #eac645;
  --black: #fff;
  --black-40: rgba(17, 17, 17, 0.4);
  --black-50: rgba(255, 255, 255, 0.5);
  --black-60: rgba(255, 255, 255, 0.6);
  --white: #111;
  --yellow: #eac645;
  --violet: #4f2ee8;
  --grey: #b4afaf;
  --white-800: #202024;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
